data.txt
data2.txt
data3.txt
data4.txt
data5.txt
data6.txt
data7.txt
data8.txt
data10.txt
testdata10.txt
day12testdata.txt
data12.txt
data13.txt
data15.txt
data15T.txt
data15T2.txt
data16.txt
data16_part2.txt
day7_suttu.js
day7_2.js
day12_part2.js
day13T.txt
day13suttu.js
day15.js
day15_AUG.js
day15_graafi.js
day16_part2.js
datacheck.txt
message.txt
message2.txt
message3.txt
graafi.js
.vscode/
node_modules